<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CategoriaServicePortBinding" />
                <binding name="ClienteServicePortBinding" />
                <binding name="DescuentoServicePortBinding" />
                <binding name="CargarPuntosServicePortBinding" />
                <binding name="DetalleOfertaServicePortBinding" />
                <binding name="EmpresaServicePortBinding" />
                <binding name="LocalServicePortBinding" />
                <binding name="OfertaLocalServicePortBinding" />
                <binding name="OfertaServicePortBinding" />
                <binding name="PersonaServicePortBinding" />
                <binding name="PuntosServicePortBinding" />
                <binding name="ReporteServicePortBinding" />
                <binding name="UsuarioOfertaServicePortBinding" />
                <binding name="ValoracionServicePortBinding" />
                <binding name="CargoServicePortBinding" />
                <binding name="RegionServicePortBinding" />
                <binding name="CiudadServicePortBinding" />
                <binding name="WebServiceAuthUserPortBinding" />
                <binding name="ProductoServicePortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.20.65.151:8080/MisOfertasWebService/CargarPuntosService"
                binding="basicHttpBinding" bindingConfiguration="CargarPuntosServicePortBinding"
                contract="Service_CargarPuntos.CargarPuntosService" name="CargarPuntosServicePort" />
            <endpoint address="http://10.20.65.151:8080/MisOfertasWebService/CargoService"
                binding="basicHttpBinding" bindingConfiguration="CargoServicePortBinding"
                contract="Service_Cargo.CargoService" name="CargoServicePort" />
            <endpoint address="http://10.20.65.151:8080/MisOfertasWebService/CategoriaService"
                binding="basicHttpBinding" bindingConfiguration="CategoriaServicePortBinding"
                contract="Service_Categoria.CategoriaService" name="CategoriaServicePort" />
            <endpoint address="http://10.20.65.151:8080/MisOfertasWebService/CiudadService"
                binding="basicHttpBinding" bindingConfiguration="CiudadServicePortBinding"
                contract="Service_Ciudad.CiudadService" name="CiudadServicePort" />
            <endpoint address="http://10.20.65.151:8080/MisOfertasWebService/ClienteService"
                binding="basicHttpBinding" bindingConfiguration="ClienteServicePortBinding"
                contract="Service_Cliente.ClienteService" name="ClienteServicePort" />
            <endpoint address="http://10.20.65.151:8080/MisOfertasWebService/DescuentoService"
                binding="basicHttpBinding" bindingConfiguration="DescuentoServicePortBinding"
                contract="Service_Descuento.DescuentoService" name="DescuentoServicePort" />
            <endpoint address="http://10.20.65.151:8080/MisOfertasWebService/DetalleOfertaService"
                binding="basicHttpBinding" bindingConfiguration="DetalleOfertaServicePortBinding"
                contract="Service_DetalleOferta.DetalleOfertaService" name="DetalleOfertaServicePort" />
            <endpoint address="http://10.20.65.151:8080/MisOfertasWebService/EmpresaService"
                binding="basicHttpBinding" bindingConfiguration="EmpresaServicePortBinding"
                contract="Service_Empresa.EmpresaService" name="EmpresaServicePort" />
            <endpoint address="http://10.20.65.151:8080/MisOfertasWebService/LocalService"
                binding="basicHttpBinding" bindingConfiguration="LocalServicePortBinding"
                contract="Service_Local.LocalService" name="LocalServicePort" />
            <endpoint address="http://10.20.65.151:8080/MisOfertasWebService/OfertaService"
                binding="basicHttpBinding" bindingConfiguration="OfertaServicePortBinding"
                contract="Service_Oferta.OfertaService" name="OfertaServicePort" />
            <endpoint address="http://10.20.65.151:8080/MisOfertasWebService/OfertaLocalService"
                binding="basicHttpBinding" bindingConfiguration="OfertaLocalServicePortBinding"
                contract="Service_OfertaLocal.OfertaLocalService" name="OfertaLocalServicePort" />
            <endpoint address="http://10.20.65.151:8080/MisOfertasWebService/PersonaService"
                binding="basicHttpBinding" bindingConfiguration="PersonaServicePortBinding"
                contract="Service_Persona.PersonaService" name="PersonaServicePort" />
            <endpoint address="http://10.20.65.151:8080/MisOfertasWebService/RegionService"
                binding="basicHttpBinding" bindingConfiguration="RegionServicePortBinding"
                contract="Service_Region.RegionService" name="RegionServicePort" />
            <endpoint address="http://10.20.65.151:8080/MisOfertasWebService/ReporteService"
                binding="basicHttpBinding" bindingConfiguration="ReporteServicePortBinding"
                contract="Service_Reporte.ReporteService" name="ReporteServicePort" />
            <endpoint address="http://10.20.65.151:8080/MisOfertasWebService/UsuarioOfertaService"
                binding="basicHttpBinding" bindingConfiguration="UsuarioOfertaServicePortBinding"
                contract="Service_UsuarioOferta.UsuarioOfertaService" name="UsuarioOfertaServicePort" />
            <endpoint address="http://10.20.65.151:8080/MisOfertasWebService/ValoracionService"
                binding="basicHttpBinding" bindingConfiguration="ValoracionServicePortBinding"
                contract="Service_Valoracion.ValoracionService" name="ValoracionServicePort" />
            <endpoint address="http://10.20.65.151:8080/MisOfertasWebService/PuntosService"
                binding="basicHttpBinding" bindingConfiguration="PuntosServicePortBinding"
                contract="Service_Puntos.PuntosService" name="PuntosServicePort" />
            <endpoint address="http://10.20.65.151:8080/MisOfertasWebService/WebServiceAuthUser"
                binding="basicHttpBinding" bindingConfiguration="WebServiceAuthUserPortBinding"
                contract="Service_Usuario.WebServiceAuthUser" name="WebServiceAuthUserPort" />
            <endpoint address="http://10.20.65.151:8080/MisOfertasWebService/ProductoService"
                binding="basicHttpBinding" bindingConfiguration="ProductoServicePortBinding"
                contract="Service_Producto.ProductoService" name="ProductoServicePort" />
        </client>
    </system.serviceModel>
</configuration>